body {
  background: #001f3f;
  position: relative;
}

h1 {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 4px;
  text-align: center;
  margin: 15px 0;
  padding: 15px;
  color: #001f3f;
  background-color: #0074D9;
  display: block;
  margin: 0 auto;
}

.wrapper {
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  color: #2d2d2d;
  border-radius: 4px;
  background: #001f3f;
  color: #0074D9;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(50%);
}

.header {
  text-align: center;
}

.bill-amount-container,
.experience-container {
  display: block;
  margin: 10px 0;
}

.experience-container {
  margin: 25px 0;
}

input {
  border: 1px solid transparent;
  border-bottom: 1px solid #0074D9;
  background: none;
  color:#0074D9;
}

input::placeholder {
  color: #0074D9;
}

input:focus {
  border-color: #0074D9;
}

.quality-selector {
  margin: 0 0 0 15px;
}

.footer {
  margin: 50px 0 0 0;
  display: block;
}

.footer .total-text,
.footer .total-amount-text,
.footer .tip-amount-text{
  display: block;
  text-align: center;
}

.footer .total-text {
  margin: 25px 0 0 0;
}

.footer .total-amount-text {
  margin: 0 0 15px 0;
}
